<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="border">
        <div class="border text-center">ジャンル検索</div>
        <% @genres.each do |genre| %>
          <div class="genre ml-4"><%= link_to genre.name %></div>
        <% end %>
      </div>
    </div>
    <div>
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。</br>
    </div>
    <div>
      <h3>新着商品</h3>
    </div>
    <div>
    　<% @products.each do |product| %>
        <%= image_tag product.image, size: "300x200" %>
        <%= product.name %>
        ¥<%= product.price %>
      <% end %>
    </div>
    <div>
      <%= link_to "全ての商品を見る >", customer_products_path %>
    </div>
  </div>
</div>
