<table>
  <thead>
    <th4>ジャンル検索</th4>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
        <div><%= link_to genre.name %></div>
    <% end %>
  </tbody>
</table>
<div>
  <h2>商品一覧（全<%= @products.count %>件）</h2>
</div>
</div>
  <% @products.each do |product| %>
    <%= image_tag product.image, size: "300x200" %>
    <%= product.name %>
    ¥<%= product.price %>
  <% end %>
  <%= paginate @products %>
</div>