<%= @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= link_to product.name, master_product_path(product) %></td>
    <td><%= product.price.to_s(:delimited) %></td>
    <td><%= product.genre.name %></td>
  </tr>
<% end %>