<div class="container">
  <div class="row">
    <div class="col-lg-4 offset-lg-1 mb-5">
      <h3 class="alert alert-info text-center">商品一覧</h3>
    </div>
  </div>
  <div class="text-center">
    <div class="col-lg-12">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td><%= product.id %></td>
              <td><%= link_to product.name, master_product_path(product) %></td>
              <td><%= product.price.to_s(:delimited) %></td>
              <td><%= product.genre.name %></td>
              <td class="<%= product.sale_status_color %>"><%= product.sale_status ? "販売中" : "販売停止中" %></td>
            </tr>
          <% end %>
          <%= paginate @products %>
        </tbody>
      </table>
    </div>
  </div>
</div>