<header>
  <nav>
    <div class="container">
      <% if master_signed_in? %>
        <%= link_to "nagano_cake", master_root_path, class: "" %>
      <% else %>
        <%= link_to "nagano_cake", master_root_path, class: "" %>
      <% end %>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
      <ul>
      <% if master_signed_in? %>
        <li>
          <%= link_to master_products_path,class: 'nav-link text-light' do %>
            <div>
              <p class="">商品一覧</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to master_users_path, class: 'nav-link text-light' do %>
            <div>
              <p class="">会員一覧</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to master_root_path,class: 'nav-link text-light' do %>
            <div>
              <p class="">注文履歴一覧</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to master_genres_path,class: 'nav-link text-light' do %>
            <div>
              <p class="">ジャンル一覧</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_master_session_path, method: :delete,class: 'nav-link text-light' do %>
            <div>
              <p class="">ログアウト</p>
            </div>
          <% end %>
        </li>
      <% elsif customer_signed_in? %>
        <li>
          <%= link_to customer_current_customer_mypage_path ,class: 'nav-link text-light' do %>
            <div>
              <p class="">マイページ</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to customer_products_path ,class: 'nav-link text-light' do %>
            <div>
              <p class="">商品一覧</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to customer_current_customer_path ,class: 'nav-link text-light' do %>
            <div>
              <p class="">カート</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_customer_session_path, method: :delete ,class: 'nav-link text-light' do %>
            <div>
              <p class="">ログアウト</p>
            </div>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to customer_home_about_path ,class: 'nav-link text-light' do %>
            <div>
              <p class="">About</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to customer_products_path ,class: 'nav-link text-light' do %>
            <div>
              <p class="">商品一覧</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_registration_path ,class: 'nav-link text-light' do %>
            <div>
              <p class="">新規登録</p>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to new_customer_session_path ,class: 'nav-link text-light' do %>
            <div>
              <p class="">ログイン</p>
            </div>
          <% end %>
        </li>
      <% end %>
      </ul>
    </div>
  </div>

  </nav>
</header>